/* .articles__item {
  display: grid;
  grid-template-columns: minmax(320px, 1fr);
  gap: 30px 0;
}

@media screen and (min-width: 768px) {
  .articles__item {
    display: grid;
    grid-template-columns: minmax(340px, 1fr) minmax(325px, 2fr);
    gap: 45px 11px;
  }
}

@media screen and (min-width: 1024px) {
  .articles__item {
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 2fr);
    gap: 48px 18px;
  }
}

@media screen and (min-width: 1280px) {
  .articles__item {
    grid-template-columns: minmax(460px, 1fr) minmax(484px, 2fr);
    gap: 55px 20px;
  }
} */

/* .articles__item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
} */

.articles__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px 0;
  justify-items: start;
}

@media screen and (min-width: 768px) {
  .articles__item {
    grid-template-columns: 1fr 1fr;
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .articles__item {
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .articles__item {
    gap: 48px 40px;
  }
}


