.gallery {
  box-sizing: border-box;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding: 0 48px;
  }
}


