.footer__author {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  grid-area: author;
}

@media screen and (min-width: 650px) {
  .footer__author {
    line-height: 16px;
  }
}

