.lead__title {
    max-width: 420px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: 0 auto 16px;
    /* grid-area: title; */
  }

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 32px;
  }
}

